.container {
  position: relative;
  height: 100vh;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #3875f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
